:root {
  --silver-stone: #d9d9d9;
  --golden-leaf: #c5b043;
  --forest-green: #418748;
  --dark-rust: #ac3a16;
  --deep-blue-sea: #2c61a0;
  --marine-blue: #335b8b;
  --slate-gray-blue: #4e74a1;
  --pearl-white: #e7e3e3;
  --charcoal-gray: #3a3535;
  --stone-gray: #827777;
}
